*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: auto;
}

.app::-webkit-scrollbar{
  display: none;
}