*{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

:root{
    --top-offset:60px;
}

button{
  cursor: pointer;
}

.back-button{
  position: absolute;
  top: 7px;
  left: 3px;
  width: 60px;
  height: 25px;
  color: black;
  border: none;
  font-weight: bold;
  text-decoration: underline;
  background-color: transparent;
}

.timer{
    width: 0%;
    height: 3px;
    background-color:rgb(10, 100, 226);
    position: absolute;
    /*top: var(--top-offset);similar to the height of nav bar so that this appears below it...*/
    top: 0;
    left: 0;
    z-index: 10;
    animation: timer 2s linear 1 forwards;
  }
  
  @keyframes timer {
    to{
      width: 100%;
    }
  }